@font-face {
  font-family: 'iconfont';  /* project id 622020 */
  src: url('https://at.alicdn.com/t/font_622020_vy029ucr9pq77gb9.eot');
  src: url('https://at.alicdn.com/t/font_622020_vy029ucr9pq77gb9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_622020_vy029ucr9pq77gb9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_622020_vy029ucr9pq77gb9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_622020_vy029ucr9pq77gb9.svg#iconfont') format('svg');
}
*{
	margin: 0; /* body的margin值默认8px */
	text-decoration: none;
	font-style: normal;
	padding: 0;
	list-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
a{
	color: #333;
}

